@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@1&display=swap");

:root {
  /* This set up as variable in :root is very important so if you want to change the styling changing here will reflect changes in all other places */
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainwhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title {
  /* Be careful while naming classes see that it does not interfere with already named bootstrap classe so only we have .text-title and .text-main as classes */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}

body {
  font-family: "Open Sans", sans-serif !important; /*important is included so that it can over write bootstrap styling */
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}
